.chat-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-style: groove;
  height: 580px;
  margin: 5px 10px 0 10px;
  font-size: 28px;
}

.chat-message .chat-users {
  border-style: groove;
  height: 580px;
  width: 35%;
}

.chat-message .chat-body {
  border-style: groove;
  height: 580px;
  width: 65%;
}

.messenger {
  margin: 5px 10px 0 10px;
  font-size: 28px;
}

.messenger .messenger-title h3 {
  text-align: left;
}

.messenger .messenger-list-table {
  height: 450px;
  overflow: auto;
  border-style: groove;
}

.messenger .messenger-list-table table td {
  text-align: left;
}

.messenger .messenger-list-table table {
  width: 100%;
  border-collapse: collapse;
}

.messenger .messenger-list-table table tr {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.messenger .messenger-list-table table .messenger-infor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  float: left;
  margin: 10px 10px 5px 10px;
}

.messenger .messenger-list-table table .messenger-infor .messenger-infor-bonus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.messenger .messenger-list-table .messenger-infor .messenger-add-friend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.messenger .messenger-list-table .messenger-infor .messenger-sent-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.messenger .messenger-list-table .messenger-infor .messenger-like-friend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.messenger .messenger-list-table .messenger-infor .messenger-user-name {
  color: blue;
  font-weight: bold;
  font-size: 28px;
}

.messenger .messenger-list-table .messenger-infor div {
  font-size: 28px;
}

.messenger .messenger-list-table .messenger-infor div .messenger-infor-time {
  font-size: 24px;
}

.messenger .messenger-list-table .messenger-infor .messenger-infor-content .messenger-infor-bonus {
  float: left;
}

.messenger .messenger-list-table .messenger-infor .messenger-infor-content .messenger-infor-bonus .messenger-infor-icon {
  margin: 0 10px 0 0;
}

.messenger .messenger-list-table td:hover {
  cursor: pointer;
  background-color: gray;
}

.messenger .messenger-list-table .messenger-infor .messenger-user-avatar img {
  width: 70px;
  height: 70px;
  margin: 0 10px 0 0;
}

.chat-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.chat-body .chat-message-body-username {
  height: 50px;
  border-style: groove;
  line-height: 0px;
  background-color: rgb(101, 252, 194);
}

.chat-body .chat-message-body-bodychat {
  height: 460px;
  border-style: groove;
}

.chat-body .chat-message-body-send .input-text {
  height: 50px;
  border-style: groove;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
}

.chat-body .chat-message-body-send .input-text-type {
  flex: 1;
  width: 100%;
}

.chat-body .chat-message-body-send .input-text-type input {
  height: 40px;
  font-size: large;
  width: 100%;
}

.chat-body .chat-message-body-send .input-text-send input {
  height: 46px;
  width: 100px;
  background-color: beige;
}

.chat-message-body-bodychat {
  overflow: auto;
}

.message-right-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.message-right-user p:first-child {
  background-color: rgb(203, 235, 225);
  height: 60px;
  line-height: 60px;
  margin: 5px 10px 0px 0;
  border-radius: 20px;
}

.message-right-user p:last-child {
  margin: 0px 10px 10px 0;
  font-size: 12px;
  float: right;
}

.message-left-friend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.message-left-friend p:first-child {
  background-color: rgb(241, 156, 122);
  height: 60px;
  line-height: 60px;
  margin: 5px 0 0px 10px;
  border-radius: 20px;
}

.message-left-friend p:last-child {
  margin: 0px 0px 10px 10px;
  font-size: 12px;
  float: left;
}

.message-left-friend .message-chat-avatar img {
  width: 20px;
  height: 20px;
}

.message-right-user .message-chat-avatar img {
  width: 20px;
  height: 20px;
}