.change-password {
  background-color: rgb(234, 234, 238);
  font-size: 28px;
  border-style: groove;
  margin: 5px 10px 0 10px;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.change-password .change-password-body {
  /* border-style: groove; */
  width: 400px;
  margin: 30px;
  height: 500px;
  text-align: left;
  /* background-color: rgb(58, 59, 53); */
}

.change-password .change-password-body p {
  margin: 40px 0 0 30px;
  color: #000;
  text-align: left;
  font-style: italic;
}

.change-password .change-password-body input {
  margin: 10px 0 0 20px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(255, 0, 0);
  border-radius: 10px;
  width: 350px;
  outline: none;
}

.change-password .change-password-body .submit-button input {
  width: 100px;
  margin: 30px 0 0 150px;
  color: #000;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}